@import "../../partials/colors";
@import "../../partials/fonts";

.step-title {
  font-size: 2rem;
  font-weight: 600;
  color: $marine-blue;
}

.step-description {
  margin: 0.75rem 0 2.75rem 0;
  line-height: 1.25rem;
  word-wrap: break-word;
  max-width: 90%;
  font-weight: 500;
  color: $cool-gray;
}

form {
  display: flex;
  flex-direction: column;
  label {
    font-size: 14px;
    margin-bottom: 1rem;
    color: $marine-blue;
  }
  input {
    margin-top: 4px;
    padding: 0 0.75rem;
    height: 40px;
    width: 100%;
    border: 1px solid $light-gray;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 16px;
    outline-color: $purplish-blue;
    &::placeholder {
      color: $cool-gray;
      font-size: 14px;
    }
  }
}

.invalid {
  border-color: $strawberry-red;
}

@media (min-width: 1024px) {
  .step-description {
    max-width: 100%;
  }
}
