@import "../../partials/fonts";

.form-component {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: $main-font, sans-serif, serif;
}

.sidebar {
  width: 100%;
  height: 172px;
  padding-top: 2rem;
  background-image: url("../../assets/images/bg-sidebar-mobile.svg");
  background-size: cover;
}

.bg-image-mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-body {
  position: relative;
  z-index: 10;
  max-width: 450px;
  margin: -4.5rem auto;
  padding: 2.5rem 1.5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 11px 19px -13px #b2b2b2;
}
