@import "../../partials/fonts";

.form-component {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: $main-font, sans-serif, serif;
}

.sidebar-small {
  width: 100%;
  height: 172px;
  padding-top: 2rem;
  background-image: url("../../assets/images/bg-sidebar-mobile.svg");
  background-size: cover;
}

.sidebar-large {
  display: none;
  width: 30%;
  background-image: url("../../assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
}

.bg-image-mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-body {
  position: relative;
  z-index: 10;
  width: min(90%, 470px);
  margin: -4.5rem auto;
  padding: 2.5rem 1.5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 11px 19px -13px #b2b2b2;
}

@media (min-width: 1024px) {
  .form-component {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 600px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
  }
  .sidebar-small {
    display: none;
  }
  .sidebar-large {
    display: block;
  }
  .form-body {
    z-index: 0;
    margin: 0 auto;
    padding: 2.5rem 0;
    box-shadow: none;
  }
}
