@import "../../partials/fonts";
@import "../../partials/colors";

.next-step-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: white;
  button {
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: $main-font;
    cursor: pointer;
  }
  button:first-child {
    background-color: white;
    color: $cool-gray;
  }
  button:first-child:hover {
    color: $marine-blue;
  }
  button:nth-child(2) {
    background-color: $marine-blue;
    color: white;
  }
  button:nth-child(2):disabled {
    background-color: $cool-gray;
    cursor: not-allowed;
  }
  .confirm {
    background-color: $purplish-blue !important;
  }
  .confirm:hover {
    background-color: lighten($purplish-blue, 10%) !important;
  }
}

.invisible {
  visibility: hidden;
}

@media (min-width: 1024px) {
  .next-step-container {
    right: 100px;
    bottom: 1rem;
    width: 50%;
  }
}
