@import "../../partials/colors";
@import "../../partials/fonts";

.plan {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid $light-gray;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.plan.selected {
  border-color: $purplish-blue;
  background-color: $light-blue-bg;
}

.plan:hover {
  border-color: $purplish-blue;
}

.plan:last-child {
  margin-bottom: 2.5rem;
}

.plan-icon {
  margin-right: 0.75rem;
}

.plan-text-wrapper > :first-child {
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.plan-text-wrapper > :last-child {
  color: rgb(161, 161, 161);
}

.duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 180px;
  span {
    font-weight: 600;
    color: $cool-gray;
  }
  span.selected {
    color: $marine-blue;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $marine-blue;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px $marine-blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
