@import "./partials/colors";

#root {
  width: 100vw;
  height: 100vh;
  background-color: $light-blue-bg;
}

@media (min-width: 1024px) {
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
